{%if collection.metafields.duo.mini != blank %} 

<div>
  
  

  <!-- /snippets/breadcrumb.liquid -->


<nav class="breadcrumb breadcrumb-nav m-v medium-down--hide  text-muted caption_text" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="Back to the frontpage">Home</a>

  

    
    <span aria-hidden="true">›</span>
    <span class="medium-down--hide">Day &amp; Night Moisture</span>

  
</nav>




  


 

               <img class="banner-desktop" src="//cdn.shopify.com/s/files/1/0648/1955/t/1252/assets/Campaign_3900x700.jpg?v=11644448971370395562">
               <img class="banner-mobile" src="//cdn.shopify.com/s/files/1/0648/1955/t/1252/assets/Campaign_1125x600.jpg?v=11510582759617217817">
               <style>
.page_title_text {
    display: none;
}
@media only screen and (min-width: 770px) {
.banner-mobile{
  display:none;
}
}
@media only screen and (max-width: 770px) {
.banner-desktop{
 display:none;
}
}
.grid, .grid--full, .grid--rev, .grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0;
    /* margin-left: -16px; */
    margin-right: 20px;
       
}
@media only screen and (min-width: 770px) {
.emergency-center{

   margin-left: 50px;
    margin-right: 50px; 
    margin-top: 20px;
}
}

@media only screen and (max-width: 768px){
.medium-down--m-h-md {
    margin-right: 0px! important; 
     margin-left: 0px! important; 
}
}
</style>

  <div class="product_section emergency-center" >
    <div class="grid clearfix">
      <!-- Main product image column -->
      <div class="grid__item large--one-half"><div class="product-single__photos medium-down--hide" id="ProductPhoto">
  <img src="https://cdn.no-toxic.com/q_auto:good,f_auto,fl_lossy,w_auto,c_limit,dpr_1.0/v1622584924/products/1BODDNMDJUN2021/1BODDNMDJUN2021_Day_Night_Moisture_Duo_Primary" data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/v1622584924/products/1BODDNMDJUN2021/1BODDNMDJUN2021_Day_Night_Moisture_Duo_Primary" id="ProductPhotoImg" class="pointer w-full cld-responsive" alt="primary" data-width="600">
</div>

<style>
@media only screen and (min-width: 770px) {
.media-query-emergency{
 display:none;
}
}
</style>

<div class="media-query-emergency">
<div class="slick-verical--product-thumb m-t text-center no-padding medium-down--m-h-md o-f-hid large--four-fifths margin-auto slick-initialized slick-slider" id="ProductThumbs"><div aria-live="polite" class="slick-list draggable" style="height: 387px;"><div class="slick-track" style="opacity: 1; width: 419px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="one-third left large--b-a circle o-f-hid slick-slide slick-current slick-active" style="width: 387px;" tabindex="-1" role="option" data-slick-index="0" aria-hidden="false">
          <a href="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/v1622584924/products/1BODDNMDJUN2021/1BODDNMDJUN2021_Day_Night_Moisture_Duo_Primary" class="product-single__thumbnail m-b" tabindex="0">
            <img src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_387,c_limit,dpr_2.0/v1622584924/products/1BODDNMDJUN2021/1BODDNMDJUN2021_Day_Night_Moisture_Duo_Primary" data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/v1622584924/products/1BODDNMDJUN2021/1BODDNMDJUN2021_Day_Night_Moisture_Duo_Primary" class="block w-full cld-responsive" alt="1boddnmdjun2021_primary" data-width="387">
          </a>
        </div></div></div></div>
</div>

<div class="all-image hide"><span class="image-url-storage" filter="1boddnmdjun2021_primary">https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/v1622584924/products/1BODDNMDJUN2021/1BODDNMDJUN2021_Day_Night_Moisture_Duo_Primary</span></div>
<div class="hide" id="image-load-place"></div>
<div class="slick-verical--product-thumb m-t text-center no-padding medium-down--m-h-md o-f-hid large--four-fifths margin-auto slick-initialized slick-slider" id="ProductThumbs"><div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 91px; transform: translate3d(0px, 0px, 0px);" role="listbox"><div class="one-third left large--b-a circle o-f-hid slick-slide slick-current slick-active" style="width: 59px;" tabindex="-1" role="option" data-slick-index="0" aria-hidden="false">
          <a href="https://cdn.no-toxic.com/q_auto:good,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/v1622584924/products/1BODDNMDJUN2021/1BODDNMDJUN2021_Day_Night_Moisture_Duo_Primary" class="product-single__thumbnail m-b" tabindex="0">
            <img src="https://cdn.no-toxic.com/q_auto:good,f_auto,fl_lossy,w_auto,c_limit,dpr_1.0/v1622584924/products/1BODDNMDJUN2021/1BODDNMDJUN2021_Day_Night_Moisture_Duo_Primary" data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/v1622584924/products/1BODDNMDJUN2021/1BODDNMDJUN2021_Day_Night_Moisture_Duo_Primary" class="block w-full cld-responsive" alt="1boddnmdjun2021_primary" data-width="323">
          </a>
        </div></div></div></div>
<script type="text/template" id="slide-image-template">
  <div class="one-third left large--b-a circle o-f-hid">
    <div class="inline left" style="width:1px; margin-left:-1px; padding-top:100%;"></div>
    <a href="imgURL" class="product-single__thumbnail m-b">
      <img data-src="imgURL" alt="imageAlt" class="cld-responsive block w-full"/>
    </a>
  </div>
</script>
</div>

      <!-- Product Form column -->
      <div class="grid__item large--one-half">

<div class="product-form--wrapper"><div class="m-b-sm">
      <span class="stamped-product-reviews-badge" data-id="6609938841678"><span class="stamped-badge" data-rating="0.0" data-lang="" aria-label="Rated 0.0 out of 5 stars"><span class="stamped-starrating stamped-badge-starrating" aria-hidden="true"><i class="stamped-fa stamped-fa-star-o" style="color:#ed3275 !important;" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star-o" style="color:#ed3275 !important;" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star-o" style="color:#ed3275 !important;" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star-o" style="color:#ed3275 !important;" aria-hidden="true"></i><i class="stamped-fa stamped-fa-star-o" style="color:#ed3275 !important;" aria-hidden="true"></i></span><span class="stamped-badge-caption" data-reviews="0" data-rating="0.0" data-label="reviews" aria-label="0 reviews" data-version="2"></span></span></span>
    </div><h1 class="section_title_text mt-0">Day &amp; Night Moisture</h1>

  <!-- Product form short description --><div class="short-description caption_text m-b-sm">Maintain soft, healthy skin with this day and night moisturizer duo. Made with powerful anti-aging antioxidants to neutralize daily free radical damage.</div>
<!-- Product form icon --><ul class="no-bullets inline-list icon-block"><li class="m-r-sm">
      <img height="15" width="15" src="//cdn.shopify.com/s/files/1/0648/1955/t/1252/assets/icon_natural.svg?v=15904395943349221362" alt="Natural icon - Product Page">
      <span class="text-muted-dk text-xxs v-text-t">Natural</span>
    </li>
    <li class="m-r-sm">
      <img height="15" width="15" src="//cdn.shopify.com/s/files/1/0648/1955/t/1252/assets/icon_vegan.svg?v=1002811702923797033" alt="Vegan icon - Product Page">
      <span class="text-muted-dk text-xxs v-text-t">Vegan</span>
    </li>
  
  
<li class="m-r-sm">
      <img height="15" width="15" src="//cdn.shopify.com/s/files/1/0648/1955/t/1252/assets/icon_cruelty_free.svg?v=1127108580611155881" alt="Cruelty free icon - Product Page">
      <span class="text-muted-dk text-xxs v-text-t">Cruelty Free</span>
    </li><li class="m-r-sm">
      <img height="15" width="15" src="//cdn.shopify.com/s/files/1/0648/1955/t/1252/assets/USA-product.svg?v=13175962491818044656" alt="Gluten free icon - Product Page">
      <span class="text-muted-dk text-xxs v-text-t">Made in USA</span>
    </li></ul>
<hr class="dividing-line">

  <!-- Product form -->
  <form action="/cart/add" data-productid="6609938841678" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-horizontal">
    <!-- Product form swatch start -->
      <div class="selector-wrapper" style="display: none;"><select class="single-option-selector" data-option="option1" id="productSelect-option-0" aria-label="variant selector"><option value="Default Title">Default Title</option></select></div><select name="id" id="productSelect" class="product-single__variants" style="position: absolute; left: 99999px; display: none;">
        
          <option selected="selected" data-sku="1BODDNMDJUN2021" value="39392828653646">
            Default Title - $24.00 USD
          </option>
        
      </select>
      <label for="productSelect" class="hide">variant selector for Day &amp; Night Moisture</label><!-- Product form swatch end -->
<div class="product__quantity-container--mobile"> 
    <span class="section_title_text inline original_price" itemprop="price" style="font-size:20px;">$24.00</span>
           
        </div>

    
    

    <!-- Product price -->
    <div class="product--price-block small--hide">
      <div class="flex">
        <span style="font-size: 19px;" id="" class="section_title_text inline original_price" itemprop="price">$24.00</span>
        
        
      </div>

      <span class="icon-fallback-text right">
        <span class="fallback-text">Wishlist</span><span class="wishlist_container  small--hide"></span>
</span>
      
     
        
       <style>
       .afterpay-paragraph{
         display:none;
       }

       </style>
         <h2 class="" style="font-size: 1.2em;"> FREE with code "FREEMINIDUO" </h2>
         <h2 class="" style="font-size: 1.2em;"> Limit 1 per customer </h2>
       




    </div><!-- Auto delivery -->
<!-- Subscriptions Powered by ReCharge Payments: Begin Liquid Code -->
<!--
	Subscription Product
	http://rechargepayments.com: v2 - Multiple Forms - Duplicate Products - Modern Popup - Mobile Popup
	Updated: 2017/03/07
-->

<!-- Subscriptions Powered by ReCharge Payments: End Liquid Code -->

<!-- Product add to cart -->
    
    


<div class="small--text-center medium--text-center m-t small--hide">












<style>
@media only screen and (max-width: 480px){}
.small--hide {
       display: block !important;
}}
</style>




<button class="btn btn__bg-filled--secondary w-full multiple-add-to-cart productAddJS" type="submit" name="add" data-variant-qty="1" data-product-id="6609938841678" data-variant-id="39392828653646" data-variant-sku="1BODDNMDJUN2021" data-variant-price="2400" data-variant-title="Default Title">Add To Tote</button>
          
              <h2 class="" style="font-size: 1.2em;">Available for first-time customers only. While supplies last.</h2>
   
          
        
        
<div class="bis-block" style="display:none">
    <p class="large--text-center l-s-1x m-b hide">Your favorite shade is sold out?</p>
    <a href="#" class="btn margin-auto block big-add-to-cart" id="BIS_trigger">NOTIFY ME</a>
  </div>

</div>






    <div id="mg-powerbuy-component" site-type="1" data-id="6609938841678" shop-domain="www.100percentpure.com" client-id="2sk2gt23bj72obs1pivhoks4m3" default-variant="39392828653646" cus-id="" cus-accounts-enabled="true" product-available="true" cus-accounts-optional="true">
    <script type="text/javascript"> var __mgPowerBuyComponent = { pageUrl:window.location.href }  </script></div>
    
    
    <div id="fb-messenger"></div>
  </form>

</div>
<script>


  document.addEventListener("DOMContentLoaded", function(){
    var quantityIncrementors = document.querySelectorAll('.product__qty-input-incrementor');
    if (quantityIncrementors instanceof NodeList) {
      quantityIncrementors.forEach(function (element) {
        element.addEventListener('click', function () {
          var quantity = parseInt(this.parentElement.querySelector('input').value);

          if (isNaN(quantity)) {
            quantity = 1;
          }

          if (this.classList.contains('decrease') && quantity > 1) {
            quantity = quantity - 1;
          } else if (this.classList.contains('increase')) {
            quantity = quantity + 1;
          }

          document.querySelector('#quantity-mobile').value = quantity;
          document.querySelector('#quantity-desktop').value = quantity;
        });
      });
    }
  });
  

</script>

</div>
    </div><div class="clearfix">
        <!-- Product Tabs -->

<ul class="tabs b-a pos-rlt"><input class="tab-radio hide" type="radio" id="tab-0" name="tab-group-1" aria-labelledby="Tab0"><label class="hide" for="tab-0" id="Tab0">hide all</label>
  <!-- Product Details -->
  
  
  <li class="tab">
    <input class="tab-radio" type="radio" id="tab-1" name="tab-group-1" aria-labelledby="Tab1">
    <label class="b-b tab-label text-center l-s-1x medium-down--one-whole p-h-s w-s-no no-bgc" for="tab-1" id="Tab1">
      <span>Product Details</span>
      <span class="icon icon-plus down right pos-rlt" aria-hidden="true"></span>
      <span class="icon icon-minus up right pos-rlt" aria-hidden="true"></span>
    </label>
    <div class="tab-panel">
      <div class="tab-content o-f-hid">
        <div class="max-width-lgx9 margin-auto"><ul class="no-bullets inline-list text-center main-font text-md-lg no-margin product__for-whom"></ul><div class="text-center m-t l-h m-t product__description-tabs" itemprop="description"><p>Maintain soft, healthy skin with this day and night moisturizer duo. Made with powerful anti-aging antioxidants to neutralize daily free radical damage.</p></div><!-- Coverage/Finish -->
          <div class="grid"></div>

          <!-- Shade Chart --><!-- Direction --><!-- Size --><!-- Made in Country --><div class="m-v product-country">
              <div class="text-center text-u-c text-md alt-font l-s-2x m-t-lg m-b">Source</div>
              <div class="text-center">Made in USA</div>
            </div></div>
      </div>
    </div>
  </li>

  <!-- Product Ingredients -->
  
  
  <li class="tab">
    <input class="tab-radio" type="radio" id="tab-2" name="tab-group-1">
    <label class="b-b tab-label text-center l-s-1x medium-down--one-whole p-h-s w-s-no no-bgc" for="tab-2">
      <span>Ingredients</span>
      <span class="icon icon-plus down right pos-rlt" aria-hidden="true"></span>
      <span class="icon icon-minus up right pos-rlt" aria-hidden="true"></span>
    </label>
    <div class="tab-panel">
       <div class="tab-content o-f-hid">
          <div class="max-width-lgx9 margin-auto"><!-- Direction --></div>
       </div>
    </div>
  </li>
  <!-- Product Consumer Study --><!-- Product Media --></ul>

<div id="pp-social-share-block" class="grid__item m-v">
  <ul class="text-center">
    <li class="muted">
      <em>Share</em>
    </li>
    <li>
      <a class="icon-fallback-text" href="https://www.facebook.com/sharer/sharer.php?u=https://www.100percentpure.com/products/day-night-moisture-duo-1" target="_blank">
        <span class="icon icon-facebook"></span>
        <span class="fallback-text">Facebook</span>
      </a>
    </li>

    <li>
      <a class="icon-fallback-text" href="http://twitter.com/share?url=https://www.100percentpure.com/products/day-night-moisture-duo-1" target="_blank">
        <span class="icon icon-twitter"></span>
        <span class="fallback-text">Twitter</span>
      </a>
    </li>
    <li>
      <a class="icon-fallback-text" href="http://pinterest.com/pin/create/button/?url=https://www.100percentpure.com/products/day-night-moisture-duo-1" target="_blank">
        <span class="icon icon-pinterest"></span>
        <span class="fallback-text">Pinterest</span>
      </a>
    </li>
    <li>
      <a class="icon-fallback-text" href="https://plus.google.com/share?url=https://www.100percentpure.com/products/day-night-moisture-duo-1" target="_blank">
        <span class="icon icon-google"></span>
        <span class="fallback-text">Google</span>
      </a>
    </li>
  </ul>
</div>

      </div>

      
        <div class="grid clearfix">
          <!-- Product review -->
          
        </div>
      

      
        <div class="grid clearfix product-page__product-details-container">
          <!-- Product similar -->
          
        </div>
      <div class="mobile-AddToTote-bar text-center b-t l-h-2x large--hide medium--hide">
    <div class="swatch-container bg-white pos-abt w-full text-left p-h b-t o-f-hid">
      <div class="m-t-sm">
        <span class="text-u-c text-xs alt-font l-s-1x">Select a title: </span>
        <span class="wishlist_container right"></span>
</div>
      <p class="caption_text shade-description-container"></p>
      <div class="swatch o-f-hid"></div>
    </div>
    <div class="controller bg-white pos-rlt o-f-hid">
      <div class="mobile-price">
    
      <span class="block three-tenths left m-v text-md-lg price money original_price notranslate" data-gip-price-id="DNEjFJvJ4KtmSwmY" data-gip-original-value="24" data-gip-converted="false">
        $24.00
      </span>
    
    </div><div class="three-tenths left m-t text-md option"><span class="wishlist_container l-h-1x inline"></span>
<span class="wishlist_container l-h-1x inline"></span></div>


















<div onclick="$('[name=add]')[0].click();return false;" class="mobile-add-bt two-fifthsd left btn-secondary no-borders text-md p-v alt-font l-s-1x pointer text-u-c add-to-tote-text" style="">
         Add to Tote 
        
          <span class="shipping-text">
            Free Shipping on $50+
          </span>
        
      </div>
    </div>
  </div>
<div class="grid clearfix">
          <!-- Product UCG -->
          <div class="grid__item large--one-whole">
<div class="grid__item large--one-whole text-center m-b-lg" id="instaFeed">
  <div class="m-t-md m-b text-center insta-inner">
    <span class="h4 text-center l-h margin-auto">Day &amp; Night Moisture</span>
    <div class="h4 m-b">
      <em>by Pure Community</em>
    </div>
  <div class="shoppable-ig-collage"> <a href="https://www.instagram.com/explore/tags/100percentpure" target="_blank"><picture> <!--[if IE 9]><video style="display: none;"><![endif]--> <source data-srcset=" //cdn.shopify.com/s/files/1/0648/1955/files/shoppable_instagram_collage_mobile_small.progressive.jpg?v=17988040636083151008 , //cdn.shopify.com/s/files/1/0648/1955/files/shoppable_instagram_collage_mobile_small.progressive.jpg?v=17988040636083151008 " media="(max-width: 768px)"> <!--[if IE 9]></video><![endif]--><img src="//cdn.shopify.com/s/files/1/0648/1955/files/shoppable_instagram_collage_desktop_1400x.progressive.jpg?v=1303910389813504664" alt="Shoppable Instagram Collage"> </picture> </a></div></div>
  <script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="100-pure_1" data-theme="slider_v2_5" data-cell-size="25%" data-connector-filter="30842,21960,21961" data-for-url="true"></script><div class="fs-slider_v2_5 fs-desktop fs-slider-container fs-narrow-timeline" id="fs_575754" role="region" aria-label="carousel" style="display: none;">   <div class="centered-content fs-slider-next-button" aria-label="Scroll gallery to next page" role="button" tabindex="0" id="fs-slider-next-button-575754"><svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><path class="fs-arrow" stroke="#222" d="m7.5,0l15,15l-15,15" fill="none"></path></g></svg></div>   <div class="centered-content fs-slider-prev-button fs-hidden" aria-label="Scroll gallery to previous page" role="button" tabindex="0" id="fs-slider-prev-button-575754"><svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><g><path class="fs-arrow" fill="none" stroke-width="1px" d="m22.5,0l-15,15l15,15" stroke="#222"></path></g></svg></div>   <div class="fs-wrapper fs-slider_v2_5-feed fs-timeline " id="fs-timeline-575754"></div> </div><style>.fs-wrapper { height: auto } .fs-entry-container { height: 0 !important; width: 25% !important; padding-top: 25% !important; }</style> <div class="fs-desktop fs-det">   <div id="fs-timeline-detail-575754" class="fs-hidden fs-timeline-detail"></div> </div> <style>.fs-has-links::after {  padding: 10px 15px; background-color: #fff; color: rgba(0,0,0,0.8); content: "SHOP IT";  }.fs-wrapper { height: auto } .fs-entry-container { height: 0 !important; width: 25% !important; padding-top: 25% !important; }.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Times New Roman, serif;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgba(0,0,0,0.8); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 0px }</style>
  <a href="/pages/pure-community" class="btn btn-tertiary m-t-md">Shop Community Looks</a>
</div>

<div class="grid__item large--one-whole">
  <div class="text-container margin-auto m-v-sm">
    <p class="text-sm">By using hashtag
      <a class="thin-u-l" href="https://www.instagram.com/explore/tags/100percentpure" target="_blank">#100percentpure</a> or
      <a class="thin-u-l" href="https://www.instagram.com/explore/tags/nodirtybeauty" target="_blank">#nodirtybeauty</a>, I hereby grant to 100% PURE (Purity Cosmetics), it subsidiaries, agents and affiliates, the unlimited worldwide, perpetual, unending right to use, reproduce, distribute, and convey my image/photograph in any format or medium now known or subsequently developed, to modify and edit my image/photograph, to combine my image/photograph with other images, video, audio, text and other media, to create derivative works incorporating, including or based on my image/photograph. This grant shall be construed broadly.
    </p>
  </div>
<div id="pp-social-share-block" class="grid__item m-v">
  <ul class="text-center">
    <li class="muted">
      <em>Share</em>
    </li>
    <li>
      <a class="icon-fallback-text" href="https://www.facebook.com/sharer/sharer.php?u=https://www.100percentpure.com/products/day-night-moisture-duo-1" target="_blank">
        <span class="icon icon-facebook"></span>
        <span class="fallback-text">Facebook</span>
      </a>
    </li>

    <li>
      <a class="icon-fallback-text" href="http://twitter.com/share?url=https://www.100percentpure.com/products/day-night-moisture-duo-1" target="_blank">
        <span class="icon icon-twitter"></span>
        <span class="fallback-text">Twitter</span>
      </a>
    </li>
    <li>
      <a class="icon-fallback-text" href="http://pinterest.com/pin/create/button/?url=https://www.100percentpure.com/products/day-night-moisture-duo-1" target="_blank">
        <span class="icon icon-pinterest"></span>
        <span class="fallback-text">Pinterest</span>
      </a>
    </li>
    <li>
      <a class="icon-fallback-text" href="https://plus.google.com/share?url=https://www.100percentpure.com/products/day-night-moisture-duo-1" target="_blank">
        <span class="icon icon-google"></span>
        <span class="fallback-text">Google</span>
      </a>
    </li>
  </ul>
</div>
<hr>
</div>
</div>
        </div></div>
</div>

{% else %}



{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}

{% include '_date-time' %}
{% capture releaseDate %}{% assign eleaseDateArray = product.metafields.purity-toolbox.standard_release_date.launch_date | split: '/' %}{{ standardReleaseDateArray[2] }}{{ standardReleaseDateArray[1] }}{{ standardReleaseDateArray[0] }}{% endcapture %}
{% capture currentReleaseDate %}{{ currentYear }}{{ currentMonth }}{{ currentDay }}{% endcapture %}
{%- if collection.metafields.purity-toolbox.banner_img_url -%}
  {% capture desktop_image %}/Collection-Banner/{{ collection.metafields.purity-toolbox.banner_img_url }}{% endcapture %}
{%- endif -%}

{%- if collection.metafields.purity-toolbox.banner_img_url_mother != blank -%}
<style>
.collection-banner__inner.banner-img__center {
    background-position: center;
    background-image: url('https://cdn.shopify.com/s/files/1/0648/1955/collections/moms-choice_533x.jpg?v=1626889610') !important;
    background-size: auto !important;
    zoom: 170%;
}
.page_title_text{
  display:none;
}

.small--show {
    display: none !important;
}

@media only screen and (max-width: 480px){
    .small--hide {
        display: block !important;
    }

    .collection-banner__inner.banner-img__center {
    background-position: center;
    background-image: url('https://cdn.shopify.com/s/files/1/0648/1955/collections/moms-choice_533x.jpg?v=1626889610') !important;
    background-size: cover !important;
    zoom: 0%;
}
}


</style> 
{%- endif -%}


{%- if collection.metafields.collection_media.mobile_mini_banner -%}
  {% capture mobile_image %}/Collection-Banner/{{ collection.metafields.collection_media.mobile_mini_banner }}{% endcapture %}
{%- endif -%}
{%- if earlyReleaseDate > currentReleaseDate -%}
  {% capture desktop_image %}/Collection-Banner/{{ product.metafields.purity-toolbox.standard_release_date.desktop_img }}{% endcapture %}
  {% capture mobile_image %}/Collection-Banner/{{ product.metafields.purity-toolbox.standard_release_date.mobile_image }}{% endcapture %}
{%- endif -%}
<div>
  {%- if desktop_image -%}
    {% assign banner_image = desktop_image %}
    {% assign banner_mobile_image = mobile_image %}
    {% assign banner_title = collection.title %}
    {% assign banner_short_description = collection.metafields.purity-toolbox.short_description %}
    {% assign banner_alignment = collection.metafields.purity-toolbox.collection_alignment %}
    {% assign banner_text_position = collection.metafields.purity-toolbox.text-position %}
    {% assign banner_desktop_text_color = collection.metafields.purity-toolbox.desktopTitleColor %}
    {%- include '_banner' -%}
  {%- else -%}
    <h1 class="text-center page_title_text large--m-v-xlg medium-down--m-v-md">{{ collection.title }}</h1>
    {%- if collection.metafields.purity-toolbox.short_description and collection.metafields.purity-toolbox.short_description != ' ' -%}
      <p class="text-left caption_text">{{ collection.metafields.purity-toolbox.short_description }}</p>
    {%- endif -%}
  {%- endif -%}
  {%- if collection.metafields.purity-toolbox.disclaimer -%}
    <p class="wrapper text-center m-t content_text">{{ collection.metafields.purity-toolbox.disclaimer }}</p>
  {%- endif -%}
  {%- if settings.display_gwp == "collection" and collection.handle == settings.gwp_collection_handle_2 -%}
    <p class="l-s-1x l-h text-center max-width-lgx7 margin-auto m-b">Choose any {{ settings.gwp_title_2 }} FREE when you spend {{ settings.gwp_threshold_2 | times: 100 | money_with_currency | replace: '.00', '' }} or more! Must add selected shade to your cart{%- if settings.gwp_coupon_name_2 and settings.gwp_coupon_name_2 != "" -%}, and use code <strong class="t-u-c">{{ settings.gwp_coupon_name_2 | trim }}</strong> at checkout{%- endif -%} . While supplies last.</p>
  {%- endif -%}
</div>

{%if collection.metafields.ingredients.natural != blank %} 
<style>
.page_title_text {
    font: normal 34px/38px TimesNewRoman,'Times New Roman',Times,Baskerville,Georgia,serif;
    letter-spacing: 0;
    display: none !important;
}

.findify-components-search--desktop-facets:first-child {
    padding-left: inherit;
    padding-right: 40px;
    display: none;
}
.findify-components--pagination {
    padding-top: 30px;
    border-top: 1px solid #e2e2e2;
    margin-top: 22px;
    text-align: center;
    display: none;
}
@media (min-width: 769px){
.collection-banner__inner {
    height: 16vw;
    min-height: 260px;
    margin-left: -50px;
}

@media (min-width: 768px){
.div-allure {
    width: 100%;
}

@media (min-width: 1025px){
.div-allure {
    width: 80%;
}


}
</style>
<div class="b-a b-peach p-xlg m-v-xlg div-allure" style="  
    margin: 0 auto;
    text-align: center;">
<p style="text-align: center;"class="five-sixths margin-auto content_text div-allure">100% PURE™ isn’t just our name. Or just our ingredient list. 100% PURE™ is a commitment to producing the purest, healthiest products and educating everyone on why being 100% PURE™ is so important. We strive to live with compassion, kindness and empathy; to be environmentally sustainable and to improve the lives of 6 billion people and animals while also being charitable and giving back to our global community.</p>

</div>




{%endif%}

<div class="wrapper">
  <div class="o-f-hid grid">
    <div class="grid__item one-half small--hide breadcrump-div small--text-center">
       {% include 'breadcrumb' %}
    </div>
    {% comment %}
    <div class="grid__item small--one-whole one-half text-right small--text-center m-t-md">
       {% include 'collection-sorting' %}
    </div>
    {% endcomment %}
  </div>
  {% if collection.handle contains "foundation-makeup" %}
    {%- include '_find-foundation' -%}
    {%- include '_find-product' -%}
  {% endif %}
  {% if collection.handle == "skin-care" or collection.handle == "sc-finder" %}
    {%- include '_find-skin-care' -%}
    {%- include '_find-product' -%}
  {% endif %}
  {%- if collection.metafields.collection_setting.filter -%}
    <div class="text-center">
      <div class="caption_text m-t">Filter by</div>
      <div class="m-t-sm pos-rlt">
        {% assign currentTag = current_tags.first | downcase %}
        {% assign currentAll = true %}
        {%- for filter in collection.metafields.collection_setting.filter -%}
          {% if currentTag == filter.link %}
            {% assign currentAll = false %}
          {% endif %}
        {%- endfor -%}
        <a href="{{collection.url}}" class="callout_s_text pointer m-h-sm {% if currentAll %} brand-primary{% endif %}">ALL</a>
        {%- for filter in collection.metafields.collection_setting.filter -%}
          <a href="{{collection.url}}/{{filter.link}}" class="callout_s_text pointer m-h-sm {% if currentTag == filter.link %} brand-primary{% endif %}">{{filter.name}}</a>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}
  {%- if collection.metafields.collection_setting.number_to_show -%}
    {% assign numberOfProduct = collection.metafields.collection_setting.number_to_show | plus: 0 %}
  {%- else -%}
    {% assign numberOfProduct = 24 %}
  {%- endif -%}
  <div data-findify="search" style="min-height: 400px;">
    <div class="findify-component-spinner"></div>
    <div class="findify-fallback" style="display:none;">
      {% paginate collection.products by numberOfProduct %}
        {% assign collection_ad_num = 0 %}
        {%- for collection_ad in collection.metafields.collection_setting.ads -%}
          {% assign collection_ad_num = collection_ad_num | plus: collection_ad.size %}
        {%- endfor -%}
        {% assign collection_size = collection.products.size | plus: collection_ad_num %}
        <div class="grid grid-uniform m-t-lg product-list-container" id="jumpToShow">
          {% if collection_size < 4 %}
          <!-- less than 4 results, show card -->
            {% for product in collection.products %}
              {% include 'collection-product-card' %}
            {% endfor %}
          {% else %}
            {% for product in collection.products %}
              {% include 'product-grid-item' with collection.handle %}

              {% assign prodoct_position = forloop.index %}
              {%- for collection_ad in collection.metafields.collection_setting.ads -%}
                {%- if collection_ad.position == prodoct_position -%}
                  {%- if collection_ad.size == 1 -%}
                    <div class="first-thing grid__item large--one-quarter medium--one-half small--one-half">
                      {%- if collection_ad.link == "" -%}
                        <div class="same-height" same-height-id="products" style="background-image: url('https://cdn.no-toxic.com/q_auto:good,f_auto,fl_lossy,w_auto,c_limit/{{settings.cloudinary_image_version}}/pure_temporary/collection_ads/{{ collection_ad.url }}');background-size: contain;background-repeat: no-repeat;background-position:bottom center;"></div>
                      {%- else -%}
                        <a href="{{collection_ad.link}}" class="block same-height" same-height-id="products" style="background-image: url('https://cdn.no-toxic.com/q_auto:good,f_auto,fl_lossy,w_auto,c_limit/{{settings.cloudinary_image_version}}/pure_temporary/collection_ads/{{ collection_ad.url }}');background-size: contain;background-repeat: no-repeat;background-position:bottom center;"></a>
                      {%- endif -%}
                    </div>
                  {%- elsif collection_ad.size == 2 -%}
                  <div class=""></div>
                  <div class="second-thing grid__item large--one-half medium--one-whole small--one-whole">
                    {%- if collection_ad.link == "" -%}
                      <div class="same-height" same-height-id="products" style="background-image: url('https://cdn.no-toxic.com/q_auto:good,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/collection_ads/{{ collection_ad.url }}');background-size: contain;background-repeat: no-repeat;background-position:bottom center;"></div>
                    {%- else -%}
                      <a href="{{collection_ad.link}}" class="block same-height" same-height-id="products" style="background-image: url('https://cdn.no-toxic.com/q_auto:good,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/collection_ads/{{ collection_ad.url }}');background-size: contain;background-repeat: no-repeat;background-position:bottom center;"></a>
                    {%- endif -%}
                  </div>
                  {%- endif -%}
                {%- endif -%}
              {%- endfor -%}
            {% endfor %}
          {% endif %}
        </div>
        {% if paginate.pages > 1 %}
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {% endif %}
      {% endpaginate %}
    </div>
  </div>
  {%- unless collection.metafields.collection_setting.type == 'discount' -%}
    <div class="m-v-xlg text-center caption_text">
      {{ collection.description }}
    </div>
  {%- endunless -%}
</div>


{%if collection.metafields.purity-toolbox.subscribe-and-save != blank %} 
<style>
.btn{

  display:none;
}
</style>

{%endif%}



{%if collection.metafields.ingredients.natural != blank %} 






<div class="wrapper m-t-xlg text-center about-us-content">
  <div class="">
    <p class="text-center section_title_text m-t-xlg p-t-lg m-b-lg">Our Natural Ingredients</p>
    <div class="grid">
      <div class="grid__item large--one-quarter medium-down--one-half large--p-h-xlg m-b-lg">
        {%- include 'icon-about-us-guaranteed-pure.svg', additionalClass: "m-h-xlg m-b" -%}
        <span class="block module_title_text m-b-sm">Guaranteed PURE</span>
        <p class="caption_text m-t">All 100% PURE™ formulations adhere to strict purity standards and will never contain harsh or toxic ingredients</p>
      </div>
      <div class="grid__item large--one-quarter medium-down--one-half large--p-h-xlg m-b-lg">
        {%- include 'icon-about-us-naturally-pigmented.svg', additionalClass: "m-h-xlg m-b" -%}
        <span class="block module_title_text m-b-sm">Naturally Pigmented</span>
        <p class="caption_text m-t">We source our pigments from fruit, vegetables, tea, and cocoa to avoid commonly used FD&C colorants and heavy metal dyes</p>
      </div>
      <div class="grid__item large--one-quarter medium-down--one-half large--p-h-xlg m-b-lg">
        {%- include 'icon-about-us-completely-cruelty-free.svg', additionalClass: "m-h-xlg m-b" -%}
        <span class="block module_title_text m-b-sm">Completely Cruelty-Free</span>
        <p class="caption_text m-t">Our commitment to animal welfare means that we will never, EVER test on animals – and that our products will always be certified cruelty-free</p>
      </div>
      <div class="grid__item large--one-quarter medium-down--one-half large--p-h-xlg m-b-lg">
        {%- include 'icon-about-us-ingredient-sourcing.svg', additionalClass: "m-h-xlg m-b" -%}
        <span class="block module_title_text m-b-sm">Ingredient Sourcing</span>
        <p class="caption_text m-t">We go through a painstaking process to make sure each ingredient sourced is never animal sourced</p>
      </div>
    </div>
  </div>
</div>
<div class="b-a b-peach p-xlg m-v-xlg" style="    width: 80%;
    margin: 0 auto;
    text-align: center;">
<p class="text-center section_title_text m-b-lg">How We Define Natural:</p>
<p class="caption_text">An ingredient or formula composed of plant, mineral, and/or marine vegetation that undergoes chemical changes due to biological processes such as fermentation, distillation, and cold processing</p>
</div>
















{%endif%}
<script>  console.log("hjgkhjhgkhh{{collection.description}}" );</script>
{%- if collection.metafields.collection_setting.type == 'discount' -%}
  <script type="text/javascript">

  $(document).ready(function(){
    let sortData = {{ collection.description }};
    $('.swatch-element').addClass('hide');
    let notList = [];
    sortData.forEach((element, index)=>{
      $('#jumpToShow').before(`
        <div class="discount-level-${index} pos-rlt m-b-lg">
          ${ element.discount==""? "" : `<hr class="pos-abt w-full">
          <p class="text-center module_title_text p-t-xs pos-rlt"><span class="bg-white inline p-h-xlg">${element.discount}<span></p>` }
          <div class="grid grid-uniform m-t-lg"></div>
        </div>
      `);
      element.products.forEach((sku)=>{
        let skuG = sku.replace(/" /g,'"').replace(/ "/g,'"').toUpperCase();
        if($(`option[data-sku="${skuG}"]`).closest('.productGrid').length == 0){notList.push(skuG)};
        $(`.discount-level-${index} .grid-uniform`).append($(`#jumpToShow option[data-sku="${skuG}"]`).closest('.productGrid').clone());
        $(`#jumpToShow option[data-sku="${skuG}"]`).closest('.productGrid').remove();
        $(`.swatch-element[variant-sku="${skuG}"]`).removeClass('hide');
      })
      if($(`.discount-level-${index} .grid-uniform .productGrid`).length == 0) $(`.discount-level-${index}`).remove();
    })
    if (document.location.hash=="#checking") {console.log('item missing', notList)}
    $('.swatch-element.hide').remove();
    $('.productGrid').each((index, element)=>{
      if($(element).find('.swatch-element').length > 0){
        let max = +$(element).find('.swatch-element').eq(0).attr('variant-price');
        let min = +$(element).find('.swatch-element').eq(0).attr('variant-price');
        let cmp = +$(element).find('.swatch-element').eq(0).attr('variant-compare-price');
        $(element).find('.swatch-element').each((indexS, elementS)=>{
          if (+$(elementS).attr('variant-price') > max) { max = +$(elementS).attr('variant-price') }
          if (+$(elementS).attr('variant-price') < min) { min = +$(elementS).attr('variant-price') }
          if (!cmp) { cmp = +$(elementS).attr('variant-compare-price') }
        })
        if(min == max){
          if (cmp) {
            $(element).find('.min-price').addClass('brand-primary').find('.money').html(Shopify.formatMoney(min));
            $(element).find('.min-max-price').addClass('hide');
            $(element).find('.max-price').addClass('text-l-t').find('.money').html(Shopify.formatMoney(cmp));
          }else{
            $(element).find('.min-price .money').html(Shopify.formatMoney(min));
            $(element).find('.min-max-price').addClass('hide');
            $(element).find('.max-price').addClass('hide');
          }
        }else{
          $(element).find('.min-price .money').html(Shopify.formatMoney(min));
          $(element).find('.max-price .money').html(Shopify.formatMoney(max));
        }
      }
    })
  });
  </script>

{%- endif -%}
 {%endif%} 
{% schema %}
{
  "name": {
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fr": "Pages de collections",
    "it": "Pagine delle collezioni",
    "ja": "コレクションページ",
    "pt-BR": "Páginas de Coleções"
  },
  "settings": [
  ]
}
{% endschema %}
