<!-- /templates/page.liquid -->
<div class="grid">

  <div class="grid__item large--one-whole">

    <h1 class="m-t-md text-center">{{ page.title }}</h1>


    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      <div id="stamped-reviews-widget" data-widget-type="nps-submission-form" data-tags="checkout" data-email="{{customer.email}}" data-name="{{customer.name}}" data-message="How would you rate your shopping experience today?"></div>
      id="stamped-reviews-widget" data-widget-type="nps-submission-form" data-tags="checkout" data-email="{{customer.email}}" data-name="{{customer.name}}" data-message="How would you rate your shopping experience today?"

    </div>

  </div>

</div>