<style media="screen">
.golden-cut-s{width:38.2%}
.golden-cut-l{width:61.8%}
.sameline{white-space: nowrap;}
.remove-focus{outline:none}
#sbs-rwd .large-shadow{-webkit-box-shadow:-15px 15px 40px rgba(0,0,0,0.15);box-shadow:-15px 15px 40px rgba(0,0,0,0.15)}
#sbs-rwd{background-color:#faf9eb;padding:80px 0}
#sbs-rwd .golden-cut-s{margin-top:calc(30.9% - 190.5px - 30px)}
#sbs-rwd .input-container{transform:translateX(80px);height:50px;border-left:2px solid #ed3376;}
#sbs-rwd input.no-borders{width:calc(100% - 48px);height:48px}
#sbs-rwd .icon-arrow-right{line-height:48px;color:#a2a2a2;transition:0.4s all}
#sbs-rwd .icon-arrow-right:hover{transform:translateX(6px);opacity:0.6}
#sbs-rwd .social-container .icon{transition:0.4s all}
#sbs-rwd .social-container .icon:hover{color:#ed3376}
#sbs-rwd .golden-cut-l div{padding-top:100%;background-image:url("{{ '100_Pure_Honey_Cream_Wash_Gingerade_and_Hand_ButterCream.jpg' | file_img_url: 'master' }}");background-size:cover;background-position:center;}
@media (max-width: 960px){
  #sbs-rwd .large-shadow.wrapper{-webkit-box-shadow:none;box-shadow:none}
  #sbs-rwd{padding:0}
  #sbs-rwd .golden-cut-s{width:100%;margin:100px 0;text-align:center}
  #sbs-rwd .input-container{transform:none}
  #sbs-rwd .golden-cut-l{position:absolute;z-index:-1;width:100%;opacity:0.15;top:0;bottom:0}
  #sbs-rwd .golden-cut-l div{padding-top:0;height:100%}
}
</style>
<div id="sbs-rwd">
  <div class="wrapper large-shadow no-padding bg-white pos-rlt o-f-hid">
    <div class="left golden-cut-s p-l-md">
      <h1 class="l-s-1x m-lg sameline">Subscribe & Save!</h1>
      <p class="text-md m-lg alt-font-regular">Subscribe now and receive 20% off your purchase.</p>
      <p class="text-sm m-lg alt-font-regular">*Coupon will be emailed within 24 hours.</p>
      <form action="http://e.100percentpure.com/public/webform/process/" method="post">
        <input type="hidden" name="fid" value="e7jl8l9wrjr9abfx6beczlum59jpw"/>
        <input type="hidden" name="sid" value="837f41b2362c87c05774c4221064d1f5"/>
        <input type="hidden" name="delid" value=""/>
        <input type="hidden" name="subid" value=""/>
        <input type="hidden" name="td" value=""/>
        <input type="hidden" name="formtype" value="addcontact"/>
        <script type="text/javascript"> var fieldMaps = {}; </script>
        <div class="b-a input-container inline large-shadow m-lg b-light width-80 bg-white">
          <input id="mail" class="no-borders inline text-md-lg p-l remove-focus" type="text"  size="35" name="38875" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="email@example.com"/>
          <button type="submit" name="button" class="right remove-focus">
            <span class="icon icon-arrow-right pointer inline text-center text-md-lg w-48"></span>
          </button>

          <input type="hidden" name="38879[650424]" value="true" />
          <div class="field_error"></div>
        </div>
      </form>
      <div class="social-container text-md-lg m-lg">
        <a href="https://www.instagram.com/100percentpure/" target="_blank"><span class="m-r-sm text-black-lt icon icon-instagram"></span></a>
        <a href="https://www.facebook.com/100percentpure" target="_blank"><span class="m-r-sm text-black-lt icon icon-facebook"></span></a>
        <a href="https://twitter.com/100percentpure" target="_blank"><span class="m-r-sm text-black-lt icon icon-twitter"></span></a>
        <a href="https://www.pinterest.com/100percentpure/?autologin=true" target="_blank"><span class="m-r-sm text-black-lt icon icon-pinterest"></span></a>
        <a href="https://www.youtube.com/channel/UCuDO-8MnXXrUFX1VkRJPCuA" target="_blank"><span class="m-r-sm text-black-lt icon icon-youtube"></span></a>
        <a target="_blank" href="https://www.tiktok.com/@100percentpure?lang=en&utm_source=website&utm_medium=icon&utm_campaign=homepage"><span class="m-r-sm text-black-lt icon tik_tok_logo"><img  src="{{ 'tik_tok_logo.png' | asset_img_url: '19x19' }}" /></a>
      </div>
    </div>
    <div class="right golden-cut-l">
      <div class="w-full"></div>
    </div>
  </div>
  <!-- <script type="text/javascript">
    $("#sbs-rwd button.right").click(function(){
      $.ajax({
          type: "POST",
          url: "http://e.100percentpure.com/public/webform/process/",
          data: $("#sbs-rwd form").serialize()
      }).done(function( data ) {
          console.log( "success", data);
      })
      .fail(function( data ) {
          console.log( "error", data);
      })
      .always(function( data ) {
          console.log( "complete", data);
      });
    })
  </script> -->

  <!-- <form action="http://e.100percentpure.com/public/webform/process/" method="post">
    <input type="hidden" name="fid" value="e7jl8l9wrjr9abfx6beczlum59jpw"/>
    <input type="hidden" name="sid" value="837f41b2362c87c05774c4221064d1f5"/>
    <input type="hidden" name="delid" value=""/>
    <input type="hidden" name="subid" value=""/>
    <input type="hidden" name="td" value=""/>
    <input type="hidden" name="formtype" value="addcontact"/>
    <script type="text/javascript"> var fieldMaps = {}; </script>
    <div class="b-a input-container inline large-shadow m-lg b-light width-80 bg-white">
      <input class="no-borders inline text-md-lg p-l" type="text"  size="35" name="38875" value="" placeholder="email@example.com"/>
      <button type="submit" name="button"><span class="icon icon-arrow-right pointer right inline text-center text-md-lg w-48"></span></button>
    </div>
  </form> -->

  <!-- <form action="http://e.100percentpure.com/public/webform/process/" method="post" class="input-group">
    <input type="hidden" name="fid" value="5bsa3tph42xjq7w9bz8zm5tbr92vk" />
    <input type="hidden" name="sid" value="837f41b2362c87c05774c4221064d1f5" />
    <input type="hidden" name="delid" value="" />
    <input type="hidden" name="subid" value="" />
    <input type="hidden" name="td" value="" />
    <input type="hidden" name="formtype" value="addcontact" />
    <script type="text/javascript">
      var fieldMaps = {};
    </script>
    <div class="section" id="row_12353">
      <div class="container" id="column_15424">
        <div class="input-group">
          <input type="text" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="34993" id="mail" class="input-group-field no-radius" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
          <span class="input-group-btn">
            <input type="submit" class="btn no-radius" value="&#10095;">
          </span>
        </div>
        <input type="hidden" name="34995[535224]" value="true" />
        <div class="field_error"></div>
      </div>
      <div style="clear: both;">&nbsp;</div>
    </div>
  </form> -->
</div>
