
{% assign default = '1400x' %}
{% assign size0 = '414x' %}
{% assign size1 = '480x' %}
{% assign size2 = '765x' %}
{% assign size3 = '900x' %}
{% assign size4 = '1000x' %}
{% assign size5 = '1100x' %}
{% assign size6 = '1300x' %}
{% assign size7 = '1500x' %}
{% assign size8 = '1700x' %}
{% assign size9 = '1900x' %}
{% assign size10 = '3800x' %}
<div class="wrapper">
  <div class="grid m-v-lg p-v-lg">
    <div class="grid__item large--one-half">
      <img
          src="{{ 'puris_pro_palette.png' | file_img_url: '50x', format: 'pjpg' }}"
          class="lazyload fade-in"
          data-sizes="auto"
          alt="Purist Pro Palette"
          data-src="{{ 'puris_pro_palette.png' | file_img_url: default, format: 'pjpg' }}"
          data-srcset="
          {{ 'puris_pro_palette.png' | file_img_url: size1, format: 'pjpg' }} {{size1 | replace: 'x', 'w'}},
          {{ 'puris_pro_palette.png' | file_img_url: size2, format: 'pjpg' }} {{size2 | replace: 'x', 'w'}},
          {{ 'puris_pro_palette.png' | file_img_url: size3, format: 'pjpg' }} {{size3 | replace: 'x', 'w'}}"/>
    </div>
    <div class="grid__item large--one-half">
      <div class="m-v">
        <h3 class="m-b">Program benefits:</h3>
        <ul>
          <li class="m-v">35% discount on most 100% PURE products (valid on 100percentpure.com) excludes eGift cards.</li>
          <li class="m-v">No annual fee!</li>
          <li class="m-v">First access to new product launches.</li>
        </ul>
        <div class="m-v">
          <a class="btn btn-quinary m-width-xlg" href="//cdn.shopify.com/s/files/1/0648/1955/files/Purist_Pro_Application.pdf" target="_blank">Join Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="grid__item">
      <div class="text-center">
        <div class="h4 text-center">
          <a href="#PuristProFAQ" class="text-black-lt thin-u-l purity-pop" pop-width="750px">FAQ</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="PuristProFAQ" class="hide">
	<div class="p m-h">
		<div class="h3 text-center m-t">FAQ</div>

		<div class="text-md font-bold m-b">Who can become a Purist Pro?</div>
		<p>The Purist Pro program is open to all makeup artists, cosmetologist, estheticians (US only). Students are also welcomed to apply. Currently, our program is only open to the United States and Canada but stay tuned for international opportunities.</p>

    <div class="text-md font-bold m-b">How do I apply?</div>
		<p>To become Purist Pro member, fill out the   <a class="thin-u-l" target="_blank" href="//cdn.shopify.com/s/files/1/0648/1955/files/Purist_Pro_Application.pdf" target="_blank">application</a> and email it to: <a class="thin-u-l" href="mailto:pro@puritycosmetics.com">pro@puritycosmetics.com</a> or print   <a class="thin-u-l" target="_blank" href="//cdn.shopify.com/s/files/1/0648/1955/files/Purist_Pro_Application.pdf" target="_blank">application</a> and send back the completed form and attachments to: Purity Cosmetics c/o Purist Pro Program, 2221 Oakland Road, San Jose, California, 95131.</p>
    <p>If you still have questions, please email: <a class="thin-u-l" href="mailto:pro@puritycosmetics.com">pro@puritycosmetics.com</a></p>

    <div class="text-md font-bold m-b">How long does it take for an application to be processed?</div>
		<p>It can take up to 14 business days to process your application and to receive confirmation of program enrollment. If your membership is declined, we will promptly send you an email with an explanation. 100% PURE® reserves the right to approve, deny or cancel membership at any time, and at our discretion.</p>

    <div class="text-md font-bold m-b">How much can I purchase with my discount and can I resell?</div>
		<p>As a Purist Pro member, you are limited to $500 (post discount) per month. No more than 3 units of the same item may be purchased per order.</p>
    <p>All products for Purist Pros are intended for the personal and professional use only. Each Pro may only use one shipping address. If you are interested in reselling and purchasing at wholesale, please contact: <a class="thin-u-l" href="mailto:wholesale@puritycosmetics.com">wholesale@puritycosmetics.com</a>.</p>

    <div class="text-md font-bold m-b">Can I use my Purist Pro discount with my Purist Perk voucher or other discount?</div>
		<p>The Purist Pro discount cannot be combined with any other promotional offers or sales.</p>

    <div class="text-md font-bold m-b">I already have a 100% PURE® account, can I use the same account?</div>
		<p>Absolutely, just provide the same email from your account on your application.</p>

    <div class="text-md font-bold m-b">What is allowed and not allowed in the Purist Pro program?</div>
		<p>100% PURE® will be monitoring all purchases through the program and reserves the right to cancel any order that does not align with the program. 100% PURE® may make changes to the program at any time and without prior notification to Pros. Select products may not be available for a Purist Pro discount, such as limited-edition items, value sets, sale items, or products with limited inventory. The Purist Pro discount cannot be combined with any other promotional offers or sales, and cannot be shared. Any account that is inactive for 12 consecutive months will be closed. Any closed account due to inactivity through the Purist Pro program must re-apply to the program to reinstate their account into good standing. 100% PURE® reserves the right to deactivate an account in which a member acted in fraudulent or failed to follow guidelines.</p>

    <p>
      <a class="thin-u-l" target="_blank" href="/pages/legal-terms-conditions">Terms & Condition</a>
    </p>
	</div>
</div>
