<style>
.buttom-mystery-box{    
    margin: 36px;
    height: 44px;
    font-weight: bold;
    font-size: 16px;
    padding: 14px 60px;
    letter-spacing: .2em;
    border-radius: 0;
    margin-bottom: 2px;
    background-color: #333;
    color: #fff;
        margin-top: 13px;
}






@media only screen and (min-width: 768px) {
  .bg-img-box-mystery {
    min-height: 36vh !important;
    background-image: url({{ 'Mystery_box_Desktop_Top.png' | asset_img_url: 'master' }});       
  background-repeat: no-repeat;
  }
  .position-steps-mystery{
  display: flex;
  }
  .bg-img-box-mystery-bottom{
  background-image: url({{ 'Mystery_box_Desktop_Bottom.png' | asset_img_url: 'master' }});       
  background-repeat: no-repeat;
  }
  .paragraph-mystery-mobile{
    display: none;
  }
  .margin-left-mystery {
    margin-left:23%;
  }
}

@media only screen and (max-width: 767px) {
  .margin-left-mystery {
    margin-left:0%;
    margin-bottom: auto;
    margin-top: 8%;
    
  }
  .bg-img-box-mystery{
        min-height: 588px;
    background-image: url({{ 'Mystery_box_Mobile_Top.png' | asset_img_url: 'master' }});   
  }
  .position-steps-mystery{
  display: block;
  }
  .paragraph-mystery-desktop{
    display:none;
  }
  .bg-img-box-mystery-bottom{
  background-image: url({{ 'Mystery_box_Mobile_Bottom.png' | asset_img_url: '300x' }});       
  background-repeat: no-repeat;
  margin-top: -60px;
  min-height: 110px;
  margin-bottom: 66px;
  }
  .collection-banner__inner-mobile{
    min-height: 150px;
    margin-top: -70px;
  }

}

@media only screen and (min-width: 1020px) {
  .bg-img-box-mystery {
    min-height: 29vh !important;
    background-image: url({{ 'Mystery_box_Desktop_Top.png' | asset_img_url: 'master' }});       
  background-repeat: no-repeat;
  }

}

@media only screen and (min-width: 1200px) {
  .bg-img-box-mystery {
    min-height: 51vh !important;
    background-image: url({{ 'Mystery_box_Desktop_Top.png' | asset_img_url: 'master' }});       
  background-repeat: no-repeat;
  }

}


@media only screen and (min-width: 1445px) {
  .bg-img-box-mystery {
    min-height: 62vh !important;
    background-image: url({{ 'Mystery_box_Desktop_Top.png' | asset_img_url: 'master' }});       
  background-repeat: no-repeat;
  }
  .margin-left-mystery {
    margin-left: 36%;
}
}


</style>

<div>
<section>
  <div class="collection-banner__inner text-center bg-img-box-mystery" aria-label="page banner">          
    <div class="one-whole wrapper margin-left-mystery" >
      <h3 class="page_title_text" style="font-size: 18px; font-weight: bold; margin: 0px;">$100+ VALUE</h3>
      <h1 class="page_title_text" style=" font-weight: bold;     margin-top: 8px; font-size: 28px;">100% PURE<span style="    font-size: 16px;vertical-align: text-bottom;">™</span> Mystery Box</h1>

      <p class="paragraph-mystery-desktop" >Cruelty-free products auto-delivered every 3 months, for just <br> $35/box.</p>
      
      <p class="paragraph-mystery-mobile" >Cruelty-free products auto-delivered<br> every 3 months, for just $35/box.</p>
      
      




















  <!-- Product form -->
<form action="/cart/add" data-productid="6583367270478" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-horizontal">
<!-- Product form swatch start -->
<div style ="display :none;"class="selector-wrapper" style="display: none;">
   <select class="single-option-selector" data-option="option1" id="productSelect-option-0" aria-label="variant selector">
      <option value="Default Title">Default Title</option>
   </select>
</div>
<select style ="display :none;" name="id" id="productSelect" class="product-single__variants" style="position: absolute; left: 99999px; display: none;">
   <option selected="selected" data-sku="1ABQ2SB2021" value="39330127511630">
      Default Title - $35.00 USD
   </option>
</select>
<center>
   <div style ="display :none;" class="product__quantity-container--mobile" style="max-width:450px;">
      <span class="product__qty-input-text" style="text-align:right;">Quantity</span> 
      <label class="product__qty-input product__qty-input--mobile">
      <button class="product__qty-input-incrementor decrease" type="button">
      -
      </button>
      <input min="1" type="number" id="quantity-mobile" name="quantity" value="1">
      <button class="product__qty-input-incrementor increase" type="button">
      +
      </button>
      </label>
      <span class="product__weight-text ">
      </span>
   </div>
</center>
<!-- Product price -->
<div  class="product--price-block small--hide" style ="display :none;">
   <div class="flex">
      <span id="" class="section_title_text inline original_price" itemprop="price">$35.00</span>
      <span class="module_title_text cpr_price">
      (<span id="ComparePrice"><span class="money notranslate" data-gip-price-id="HtZ2oUwfE0ZXOjgi" data-gip-original-value="100" data-gip-converted="false">$100.00</span></span> value)
      </span>
      <div class="vertical-divider"></div>
      <label class="product__qty-input product__qty-input--desktop">
         <span class="product__qty-input-text " style="margin-right:8px;">Quantity</span>
         <div class="product__qty-input-field custom_class01">
            <button class="product__qty-input-incrementor decrease" type="button">
            -
            </button>
            <input min="1" data-quantity-desktop="" type="number" id="quantity-desktop" name="quantity" value="1" style="width:70%;max-width:60px;">
            <button class="product__qty-input-incrementor increase" type="button">
            +
            </button>
         </div>
         <style> .custom_class01{height:30px;min-width:50px;margin-right:15px;} </style>
         <span class="product__qty-weight-text " style="width:40%;">
         </span>
      </label>
   </div>
   <span class="icon-fallback-text right">
   <span class="fallback-text">Wishlist</span><span class="wishlist_container  small--hide"></span>
   </span>
   <p id="after-pay-cart-container"></p>
   <p class="afterpay-paragraph" data-product-id="6583367270478"><span class="afterpay-text1">or 4 interest-free payments of </span><strong class="afterpay-instalments">$8.75&nbsp;USD</strong><span class="afterpay-text2"> with </span><img class="afterpay-logo" src="https://static.afterpay.com/integration/product-page/logo-afterpay-black.png" srcset="https://static.afterpay.com/integration/product-page/logo-afterpay-black.png 1x, https://static.afterpay.com/integration/product-page/logo-afterpay-black@2x.png 2x, https://static.afterpay.com/integration/product-page/logo-afterpay-black@3x.png 3x" width="100" height="21" alt="Afterpay" style="vertical-align: middle; width: 100px; border: 0px;"><span class="afterpay-text3">&nbsp;</span><a class="afterpay-link" href="https://www.afterpay.com/installment-agreement" target="_blank"><u class="afterpay-link-inner" style="font-size: 12px; text-decoration: underline;">More info</u></a></p>
</div>
<div data-widget-container-wrapper="" class="rc-container-wrapper rc_container_wrapper">
   <div data-widget-container="" class="rc-container rc_container">
      <div data-widget="" class="rc-widget ">
         <div data-template="" class="rc-template">
            <div data-template-legacy-radio="" class="rc-template__legacy-radio">
               <div data-option-subsave="" class="rc-radio rc-option__subsave rc-option rc_widget__option rc_widget__option--subsave rc-legacy-radio">
                  <!----> 
                  <div style ="display :none;" data-v-61d2e742="" data-plans-container="" class="rc-selling-plans rc_widget__option__plans" style="display: block;">
                     <label data-v-61d2e742="" for="selling_plan" data-plans-label="" class="rc-selling-plans__label">
                     Delivery every 3 Months
                     </label> 
                     <select data-v-61d2e742="" id="selling_plan" name="selling_plan" data-plans-dropdown="" class="rc_widget__option__plans__dropdown rc-selling-plans__dropdown" style="display: none;">
                        <option data-v-61d2e742="" data-plan-option="Delivery every 3 Months" value="433160270">
                           Delivery every 3 Months
                        </option>
                     </select>
                  </div>
               </div>
            </div>
            <!----> <!----> <!---->
         </div>
      </div>
      <div data-v-cf5e6a74="" class="rc_popup" style="display: none;">
         <div data-v-cf5e6a74="" class="rc_popup__hover">
            <svg data-v-cf5e6a74="" width="18" height="21" viewBox="0 0 356 418" fill="none" xmlns="http://www.w3.org/2000/svg" class="rc_popup__icon">
               <g data-v-cf5e6a74="" id="black">
                  <path data-v-cf5e6a74="" id="Fill 17" fill-rule="evenodd" clip-rule="evenodd" d="M208.139 100.679C178.483 116.157 148.911 131.595 119.047 147.181C128.329 152.441 137.201 157.467 146.065 162.489C174.241 145.793 202.247 129.197 230.541 112.429C222.927 108.435 215.611 104.597 208.139 100.679ZM296.785 147.109C283.563 140.185 270.605 133.399 257.683 126.633C229.173 143.531 200.789 160.351 172.175 177.309C184.385 184.231 196.243 190.953 208.055 197.647C237.691 180.767 267.139 163.995 296.785 147.109ZM199.859 211.585C187.995 204.861 176.163 198.155 163.963 191.239V227.969C155.117 222.959 146.567 218.113 137.989 213.255V176.505C128.823 171.305 119.683 166.123 110.513 160.921V267.259C140.371 284.039 170.015 300.697 199.859 317.467V211.585ZM305.683 266.883V160.647C275.571 177.795 245.815 194.741 216.209 211.603V318.173C246.269 300.941 276.093 283.845 305.683 266.883ZM94.345 141.839C132.143 122.111 170.093 102.305 208.147 82.4433C245.963 102.249 283.771 122.049 321.819 141.975V276.261C284.405 297.711 246.667 319.345 208.819 341.043C170.725 319.635 132.641 298.233 94.345 276.713V141.839Z" fill="black"></path>
                  <path data-v-cf5e6a74="" id="Fill 19" fill-rule="evenodd" clip-rule="evenodd" d="M320.976 35.1783C317.376 26.5083 313.918 18.1863 310.364 9.62626C315.912 7.31226 321.392 5.02626 327.114 2.64026C336.144 24.3503 345.114 45.9143 354.154 67.6443C331.33 69.5583 308.78 71.4503 285.934 73.3663C285.438 67.3863 284.946 61.4703 284.434 55.2903C294.314 54.4503 303.99 53.6303 313.664 52.8083C289.23 35.8543 262.294 25.3283 232.896 21.7323C179.362 15.1843 130.966 28.2523 88.89 62.1463C5.96599 128.946 -4.66001 248.868 61.006 329.478C129.006 412.956 257.026 424.866 339.242 346.33C343.386 350.64 347.53 354.952 351.676 359.264C284.342 425.486 170.696 440.052 84.742 376.82C-2.73201 312.468 -26.02 191.732 31.602 99.8823C62.276 50.9823 106.16 19.6043 162.564 7.01826C218.896 -5.55174 271.668 4.54026 320.976 35.1783Z" fill="black"></path>
               </g>
            </svg>
            <span data-v-cf5e6a74="" class="rc_popup__label">Subscription details</span> 
            <div data-v-cf5e6a74="" class="rc_popup__block" style="--backgroundColor:#606060; background-color: rgb(96, 96, 96); color: rgb(231, 231, 231);">
               <div data-v-cf5e6a74="" class="rc_popup__block__content">
                  <div data-v-cf5e6a74="" class="rc_popup__close" style="display: none;">x</div>
                  <div data-v-cf5e6a74="" class="rc_popup__how_it_works"><strong>How subscriptions work</strong><br>Products are automatically delivered on your schedule. No obligation, modify or cancel your subscription anytime.</div>
                  <br data-v-cf5e6a74=""><a data-v-cf5e6a74="" href="http://rechargepayments.com/subscribe-with-recharge" target="_blank" rel="noopener noreferrer" class="rc_popup__learn_more" style="color: rgb(255, 255, 255);">Learn more...</a>
               </div>
               <div data-v-cf5e6a74="" class="rc_popup__block__footer"><a data-v-cf5e6a74="" href="http://rechargepayments.com/subscribe-with-recharge" target="_blank" rel="noopener noreferrer"><img data-v-cf5e6a74="" src="//rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/widget/rc_widget__banner@2x.png" height="28" width="153" alt="Powered by Recharge" class="rc_popup__badge"></a></div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Auto delivery --><!-- Product add to cart -->
    




















<button class="buttom-mystery-box multiple-add-to-cart productAddJS" type="submit" name="add" data-variant-qty="1" data-product-id="6583367270478" data-variant-id="39330127511630" data-variant-sku="1ABQ2SB2021" data-variant-price="3500" data-variant-title="Default Title">SUBSCRIBE</button>


         
        
        









   
    
    

<script>


  document.addEventListener("DOMContentLoaded", function(){
    var quantityIncrementors = document.querySelectorAll('.product__qty-input-incrementor');
    if (quantityIncrementors instanceof NodeList) {
      quantityIncrementors.forEach(function (element) {
        element.addEventListener('click', function () {
          var quantity = parseInt(this.parentElement.querySelector('input').value);

          if (isNaN(quantity)) {
            quantity = 1;
          }

          if (this.classList.contains('decrease') && quantity > 1) {
            quantity = quantity - 1;
          } else if (this.classList.contains('increase')) {
            quantity = quantity + 1;
          }

          document.querySelector('#quantity-mobile').value = quantity;
          document.querySelector('#quantity-desktop').value = quantity;
        });
      });
    }
  });
  

</script>



            
      
































       

      <p class="paragraph-mystery-desktop" style="font-size: 13px;     margin-top: 4px;" >Final sale. Free US Standard Shipping only.<br> Order by 8/31/2021 11:59PM PST to secure your Fall Mystery Box.<p>

      <p class="paragraph-mystery-mobile" style="font-size: 13px;" >Final sale. Free US Standard Shipping only.<br> Order by 8/31/2021 11:59PM PST <br>to secure your Fall Mystery Box.<p>
    </div>
  </div>
</section>
<div class="wrapper m-t-xlg text-center about-us-content" >
  <div class="">
    <p class="text-center section_title_text m-t-xlg p-t-lg m-b-lg">How It Works</p>
    <div class="gird three-quarters margin-auto o-f-hid m-b-xlg position-steps-mystery" >
      <div>
        <img src="{{ 'Mystery_box_Step_1_Desktop.jpg' | asset_img_url: 'master' }}">
      </div>  
      <div>
        <img src="{{ 'Mystery_box_Step_2_Desktop.jpg' | asset_img_url: 'master' }}">
      </div>
      <div>
        <img src="{{ 'Mystery_box_Step_3_Desktop.jpg' | asset_img_url: 'master' }}">
      </div>
    </div>
  </div>
</div>  
<section>
  <div class="collection-banner__inner-mobile text-center paragraph-mystery-mobile" aria-label="page banner">          
    <div class="one-whole wrapper" style="    margin-top: 15px;">
        













       <!-- Product form -->
<form action="/cart/add" data-productid="6583367270478" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-horizontal">
<!-- Product form swatch start -->
<div style ="display :none;"class="selector-wrapper" style="display: none;">
   <select class="single-option-selector" data-option="option1" id="productSelect-option-0" aria-label="variant selector">
      <option value="Default Title">Default Title</option>
   </select>
</div>
<select style ="display :none;" name="id" id="productSelect" class="product-single__variants" style="position: absolute; left: 99999px; display: none;">
   <option selected="selected" data-sku="1ABQ2SB2021" value="39330127511630">
      Default Title - $35.00 USD
   </option>
</select>
<center>
   <div style ="display :none;" class="product__quantity-container--mobile" style="max-width:450px;">
      <span class="product__qty-input-text" style="text-align:right;">Quantity</span> 
      <label class="product__qty-input product__qty-input--mobile">
      <button class="product__qty-input-incrementor decrease" type="button">
      -
      </button>
      <input min="1" type="number" id="quantity-mobile" name="quantity" value="1">
      <button class="product__qty-input-incrementor increase" type="button">
      +
      </button>
      </label>
      <span class="product__weight-text ">
      </span>
   </div>
</center>
<!-- Product price -->
<div  class="product--price-block small--hide" style ="display :none;">
   <div class="flex">
      <span id="" class="section_title_text inline original_price" itemprop="price">$35.00</span>
      <span class="module_title_text cpr_price">
      (<span id="ComparePrice"><span class="money notranslate" data-gip-price-id="HtZ2oUwfE0ZXOjgi" data-gip-original-value="100" data-gip-converted="false">$100.00</span></span> value)
      </span>
      <div class="vertical-divider"></div>
      <label class="product__qty-input product__qty-input--desktop">
         <span class="product__qty-input-text " style="margin-right:8px;">Quantity</span>
         <div class="product__qty-input-field custom_class01">
            <button class="product__qty-input-incrementor decrease" type="button">
            -
            </button>
            <input min="1" data-quantity-desktop="" type="number" id="quantity-desktop" name="quantity" value="1" style="width:70%;max-width:60px;">
            <button class="product__qty-input-incrementor increase" type="button">
            +
            </button>
         </div>
         <style> .custom_class01{height:30px;min-width:50px;margin-right:15px;} </style>
         <span class="product__qty-weight-text " style="width:40%;">
         </span>
      </label>
   </div>
   <span class="icon-fallback-text right">
   <span class="fallback-text">Wishlist</span><span class="wishlist_container  small--hide"></span>
   </span>
   <p id="after-pay-cart-container"></p>
   <p class="afterpay-paragraph" data-product-id="6583367270478"><span class="afterpay-text1">or 4 interest-free payments of </span><strong class="afterpay-instalments">$8.75&nbsp;USD</strong><span class="afterpay-text2"> with </span><img class="afterpay-logo" src="https://static.afterpay.com/integration/product-page/logo-afterpay-black.png" srcset="https://static.afterpay.com/integration/product-page/logo-afterpay-black.png 1x, https://static.afterpay.com/integration/product-page/logo-afterpay-black@2x.png 2x, https://static.afterpay.com/integration/product-page/logo-afterpay-black@3x.png 3x" width="100" height="21" alt="Afterpay" style="vertical-align: middle; width: 100px; border: 0px;"><span class="afterpay-text3">&nbsp;</span><a class="afterpay-link" href="https://www.afterpay.com/installment-agreement" target="_blank"><u class="afterpay-link-inner" style="font-size: 12px; text-decoration: underline;">More info</u></a></p>
</div>
<div style="display:none;" data-widget-container-wrapper="" class="rc-container-wrapper rc_container_wrapper">
   <div data-widget-container="" class="rc-container rc_container">
      <div data-widget="" class="rc-widget">
         <div data-template="" class="rc-template">
            <div style="display:none;" data-template-legacy-radio="" class="rc-template__legacy-radio">
               <div data-option-subsave="" class="rc-radio rc-option__subsave rc-option rc_widget__option rc_widget__option--subsave rc-legacy-radio">
                  <!----> 
                  <div style ="display :none;" data-v-61d2e742="" data-plans-container="" class="rc-selling-plans rc_widget__option__plans" style="display: block;">
                     <label data-v-61d2e742="" for="selling_plan" data-plans-label="" class="rc-selling-plans__label">
                     Delivery every 3 Months
                     </label> 
                     <select data-v-61d2e742="" id="selling_plan" name="selling_plan" data-plans-dropdown="" class="rc_widget__option__plans__dropdown rc-selling-plans__dropdown" style="display: none;">
                        <option data-v-61d2e742="" data-plan-option="Delivery every 3 Months" value="433160270">
                           Delivery every 3 Months
                        </option>
                     </select>
                  </div>
               </div>
            </div>
            <!----> <!----> <!---->
         </div>
      </div>
      <div data-v-cf5e6a74="" class="rc_popup" style="display: none;">
         <div data-v-cf5e6a74="" class="rc_popup__hover">
            <svg data-v-cf5e6a74="" width="18" height="21" viewBox="0 0 356 418" fill="none" xmlns="http://www.w3.org/2000/svg" class="rc_popup__icon">
               <g data-v-cf5e6a74="" id="black">
                  <path data-v-cf5e6a74="" id="Fill 17" fill-rule="evenodd" clip-rule="evenodd" d="M208.139 100.679C178.483 116.157 148.911 131.595 119.047 147.181C128.329 152.441 137.201 157.467 146.065 162.489C174.241 145.793 202.247 129.197 230.541 112.429C222.927 108.435 215.611 104.597 208.139 100.679ZM296.785 147.109C283.563 140.185 270.605 133.399 257.683 126.633C229.173 143.531 200.789 160.351 172.175 177.309C184.385 184.231 196.243 190.953 208.055 197.647C237.691 180.767 267.139 163.995 296.785 147.109ZM199.859 211.585C187.995 204.861 176.163 198.155 163.963 191.239V227.969C155.117 222.959 146.567 218.113 137.989 213.255V176.505C128.823 171.305 119.683 166.123 110.513 160.921V267.259C140.371 284.039 170.015 300.697 199.859 317.467V211.585ZM305.683 266.883V160.647C275.571 177.795 245.815 194.741 216.209 211.603V318.173C246.269 300.941 276.093 283.845 305.683 266.883ZM94.345 141.839C132.143 122.111 170.093 102.305 208.147 82.4433C245.963 102.249 283.771 122.049 321.819 141.975V276.261C284.405 297.711 246.667 319.345 208.819 341.043C170.725 319.635 132.641 298.233 94.345 276.713V141.839Z" fill="black"></path>
                  <path data-v-cf5e6a74="" id="Fill 19" fill-rule="evenodd" clip-rule="evenodd" d="M320.976 35.1783C317.376 26.5083 313.918 18.1863 310.364 9.62626C315.912 7.31226 321.392 5.02626 327.114 2.64026C336.144 24.3503 345.114 45.9143 354.154 67.6443C331.33 69.5583 308.78 71.4503 285.934 73.3663C285.438 67.3863 284.946 61.4703 284.434 55.2903C294.314 54.4503 303.99 53.6303 313.664 52.8083C289.23 35.8543 262.294 25.3283 232.896 21.7323C179.362 15.1843 130.966 28.2523 88.89 62.1463C5.96599 128.946 -4.66001 248.868 61.006 329.478C129.006 412.956 257.026 424.866 339.242 346.33C343.386 350.64 347.53 354.952 351.676 359.264C284.342 425.486 170.696 440.052 84.742 376.82C-2.73201 312.468 -26.02 191.732 31.602 99.8823C62.276 50.9823 106.16 19.6043 162.564 7.01826C218.896 -5.55174 271.668 4.54026 320.976 35.1783Z" fill="black"></path>
               </g>
            </svg>
            <span data-v-cf5e6a74="" class="rc_popup__label">Subscription details</span> 
            <div data-v-cf5e6a74="" class="rc_popup__block" style="--backgroundColor:#606060; background-color: rgb(96, 96, 96); color: rgb(231, 231, 231);">
               <div data-v-cf5e6a74="" class="rc_popup__block__content">
                  <div data-v-cf5e6a74="" class="rc_popup__close" style="display: none;">x</div>
                  <div data-v-cf5e6a74="" class="rc_popup__how_it_works"><strong>How subscriptions work</strong><br>Products are automatically delivered on your schedule. No obligation, modify or cancel your subscription anytime.</div>
                  <br data-v-cf5e6a74=""><a data-v-cf5e6a74="" href="http://rechargepayments.com/subscribe-with-recharge" target="_blank" rel="noopener noreferrer" class="rc_popup__learn_more" style="color: rgb(255, 255, 255);">Learn more...</a>
               </div>
               <div data-v-cf5e6a74="" class="rc_popup__block__footer"><a data-v-cf5e6a74="" href="http://rechargepayments.com/subscribe-with-recharge" target="_blank" rel="noopener noreferrer"><img data-v-cf5e6a74="" src="//rechargestatic-bootstrapheroes.netdna-ssl.com/static/images/widget/rc_widget__banner@2x.png" height="28" width="153" alt="Powered by Recharge" class="rc_popup__badge"></a></div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Auto delivery --><!-- Product add to cart -->
    




















<button class=" paragraph-mystery-mobile buttom-mystery-box multiple-add-to-cart productAddJS" type="submit" name="add" data-variant-qty="1" data-product-id="6583367270478" data-variant-id="39330127511630" data-variant-sku="1ABQ2SB2021" data-variant-price="3500" data-variant-title="Default Title">SUBSCRIBE</button>


         
        
        









   
    
    

<script>


  document.addEventListener("DOMContentLoaded", function(){
    var quantityIncrementors = document.querySelectorAll('.product__qty-input-incrementor');
    if (quantityIncrementors instanceof NodeList) {
      quantityIncrementors.forEach(function (element) {
        element.addEventListener('click', function () {
          var quantity = parseInt(this.parentElement.querySelector('input').value);

          if (isNaN(quantity)) {
            quantity = 1;
          }

          if (this.classList.contains('decrease') && quantity > 1) {
            quantity = quantity - 1;
          } else if (this.classList.contains('increase')) {
            quantity = quantity + 1;
          }

          document.querySelector('#quantity-mobile').value = quantity;
          document.querySelector('#quantity-desktop').value = quantity;
        });
      });
    }
  });
  

</script>














        <p class="paragraph-mystery-mobile" style="font-size: 13px;" >Order by 8/31/2021 11:59PM PST <br>to secure your Fall Mystery Box.<p>
    
    </div>
  </div>
</section>

<section>
  <div class="collection-banner__inner text-center bg-img-box-mystery-bottom " aria-label="page banner">          
    <div class="one-whole wrapper">
    
    </div>
  </div>
</section>
</div>

