<div class="banner-img__center bg-img m-b-xlg p-b-xlg" style="background-image: url('https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/bg')">
  <img
    class="medium-down--hide cld-prepare w-full" alt="women's day"
    src="https://cdn.no-toxic.com/e_vectorize:5:20,f_svg/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/women-day"
    data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/women-day">
  <img
    class="large--hide cld-prepare w-full" alt="women's day"
    src="https://cdn.no-toxic.com/e_vectorize:5:20,f_svg/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/women-day-mobile"
    data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/women-day-mobile">
  <div class="wrapper text-center">

    <p class="module_title_text m-t-xlg">Our 100% PURE™️ family shares their stories about inspirational women.</p>
    <div id="video-container" class="large--five-sixths margin-auto m-t-lg m-b"></div>
    <img
      class="cld-prepare large--four-sixths margin-auto m-t-lg m-b-xlg" alt="women's day"
      src="https://cdn.no-toxic.com/e_vectorize:5:20,f_svg/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/quotes"
      data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/quotes">

    <div class="large--five-sixths margin-auto o-f-hid m-v-xlg">
      <div class="large--one-half left large--p-r-md p-b">
        <img
          alt="Our Contribution"
          class="cld-prepare large--one-whole medium-down--four-sixths img-shadow"
          src="https://cdn.no-toxic.com/e_vectorize:5:20,f_svg/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/Contribution"
          data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/Contribution">
      </div>
      <div class="large--one-half left large--p-l-md">
        <p class="section_title_text m-t">Our Contribution</p>
        <img
          alt="Beauty Bus Logo"
          class="two-fifths cld-prepare"
          src="https://cdn.no-toxic.com/e_vectorize:5:20,f_svg/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/Beauty-Bus-Foundation-logo"
          data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/Beauty-Bus-Foundation-logo">
        <p class="content_text margin-auto five-sixths">Beauty Bus is a nonprofit organization that provides complimentary beauty services to seriously ill individuals and their caregivers in homes and at hospitals and social service partners.</p>
        <p class="caption_s_text m-t">Learn how you can help here: <a class="text-u-l" href="http://beautybus.org" target="_blank" rel="noopener">http://beautybus.org</a></p>
      </div>
    </div>
    <div class="large--five-sixths margin-auto m-t-xlg m-b-xlg">
      <div class="large--one-half right large--p-l-md">
        <img
          alt="Our Contribution"
          class="cld-prepare large--one-whole medium-down--four-sixths img-shadow"
          src="https://cdn.no-toxic.com/e_vectorize:5:20,f_svg/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/we-did"
          data-src="https://cdn.no-toxic.com/q_auto:best,f_auto,fl_lossy,w_auto,c_limit,dpr_auto/{{settings.cloudinary_image_version}}/pure_temporary/page_women-day/we-did">
      </div>
      <div class="large--one-half right large--p-r-md">
        <p class="section_title_text m-t-xlg">What We Did</p>
        <p class="content_text m-t-lg m-b-lg margin-auto five-sixths">To celebrate International Women's Day, we donated <span class="font-bold">$40,000</span> worth of non-toxic makeup to Beauty Bus.</p>
        <p class="caption_s_text"><a href="/blogs/feed/how-we-re-celebrating-international-women-s-day" target="_blank" rel="noopener" class="btn m-b-md m-t">Learn More</a></p>
      </div>
    </div>
  </div>
</div>
<script>
  if(!window['YT']){
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/player_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    function onYouTubePlayerAPIReady() {
      let player = new YT.Player('video-container', {
        height: $('#video-container').width()*0.56,
        width: $('#video-container').width(),
        videoId: 'hilBr4lC8Cs',
        playerVars: { 'controls': 1, 'showinfo': 0, 'rel': 0, 'playlist': 'hilBr4lC8Cs', 'loop': 1 }
      });
    }
  }else{
    let player = new YT.Player('video-container', {
      height: $('#video-container').width()*0.56,
      width: $('#video-container').width(),
      videoId: 'hilBr4lC8Cs',
      playerVars: { 'controls': 1, 'showinfo': 0, 'rel': 0, 'playlist': 'hilBr4lC8Cs', 'loop': 1 }
    });
  }
</script>
